<div id="<%= dom_id abuso %>">
  <p>
    <strong>Cliente:</strong>
    <%= abuso.cliente %>
  </p>

  <p>
    <strong>Fecha:</strong>
    <%= abuso.fecha %>
  </p>

  <p>
    <strong>Unidad:</strong>
    <%= abuso.unidad %>
  </p>

  <p>
    <strong>Tipo contrato:</strong>
    <%= abuso.tipo_contrato %>
  </p>

  <p>
    <strong>Operador:</strong>
    <%= abuso.operador %>
  </p>

  <p>
    <strong>Tipo abuso:</strong>
    <%= abuso.tipo_abuso %>
  </p>

  <p>
    <strong>Abuso presentado:</strong>
    <%= abuso.abuso_presentado %>
  </p>

  <p>
    <strong>Costo total:</strong>
    <%= abuso.costo_total %>
  </p>

  <p>
    <strong>Reporta:</strong>
    <%= abuso.reporta %>
  </p>

</div>
