<div class="container">
  <h1>Folio: <%= @folio_abuso.folio %> </h1>
  <%= form_with(model: folio_abuso) do |form| %>
    <div class="row">
        <div class="form-group col-sm">
          <%= form.label :cliente, style: "display: block" %>
          <%= form.text_field :cliente, class:"form-control", readonly:true %>
        </div>


        <div class="form-group col-sm">
          <%= form.label :fecha, style: "display: block" %>
          <%= form.datetime_field :fecha, class:"form-control", readonly:true %>
        </div>
      </div>

      <div class="row">


        <div class="form-group col-sm">
          <%= form.label :unidad, style: "display: block" %>
          <%= form.text_field :unidad, class:"form-control", readonly:true %>
        </div>

        <div class="form-group col-sm">
          <%= form.label :tipo_contrato, style: "display: block" %>
          <% options = options_from_collection_for_select(@el_contrato, 'id', 'tipo_contrato') %>
          <%= form.select :tipo_contrato,  options, class:"form-select"  %>
        </div>

      </div>

      <div class="row">
        <div class="form-group col-sm">
          <%= form.label :operador, style: "display: block" %>
          <%= form.text_field :operador, class:"form-control", readonly:true %>
        </div>

        <div class="form-group col-sm">
          <%= form.label :tipo_abuso, style: "display: block" %>
          <% options = options_from_collection_for_select(@el_abuso, 'id', 'tipo_abuso') %>
        <%= form.select :tipo_abuso,  options, class:"form-select"  %>
        </div>

      </div>

      <div class="row">
        <div class="form-group col-sm">
          <%= form.label :abuso_presentado, style: "display: block" %>
          <%= form.text_area :abuso_presentado, class:"form-control", readonly:true %>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-sm">
          <%= form.label :costo_total, style: "display: block" %>
          <%= form.text_field :costo_total, class:"form-control", readonly:true %>
        </div>

        <div class="form-group col-sm">
          <%= form.label :reporta, style: "display: block" %>
          <%= form.text_field :reporta, class:"form-control", readonly:true %>
        </div>
      </div>

      <div class="actions">
          <%= link_to "Regresar", folio_abusos_path, class:"btn btn-light min-width-btn" %>
        <%= link_to 'Editar', edit_folio_abuso_path(@folio_abuso), class:"btn btn-primary min-width-btn"  %>     
        <%= link_to 'Eliminar', @folio_abuso , method: :delete, data: { confirm: 'Estas seguro?' }, class:"btn btn-danger min-width-btn"%>
      </div>
    <% end %>
</div>
