<div class="container">
  <br>
  <br>
  <%= form_with(model: folio_abuso) do |form| %>
    <% if folio_abuso.errors.any? %>
      <div id="error_explanation" class="alert alert-danger" role="alert">
        <h5><%= pluralize(folio_abuso.errors.count, "error") %> prohibited this folio_abuso from being saved:</h5>

        <ul>
          <% folio_abuso.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="row">
      <div class="form-group col-sm">
        <%= form.label :cliente, style: "display: block" %>
        <%= form.text_field :cliente, class:"form-control" %>
      </div>


      <div class="form-group col-sm">
        <%= form.label :fecha, style: "display: block" %>
        <%= form.datetime_field :fecha, class:"form-control" %>
      </div>
    </div>

    <div class="row">


      <div class="form-group col-sm">
        <%= form.label :unidad, style: "display: block" %>
        <%= form.text_field :unidad, class:"form-control" %>
      </div>

      <div class="form-group col-sm">
        <%= form.label :tipo_contrato, style: "display: block" %>
        <% options = options_from_collection_for_select(@contratos, 'id', 'tipo_contrato') %>
        <%= form.select :tipo_contrato,  options, class:"form-control"  %>
      </div>

    </div>

    <div class="row">
      <div class="form-group col-sm">
        <%= form.label :operador, style: "display: block" %>
        <%= form.text_field :operador, class:"form-control" %>
      </div>

      <div class="form-group col-sm">
        <%= form.label :tipo_abuso, style: "display: block" %>
        <% options = options_from_collection_for_select(@abusos, 'id', 'tipo_abuso') %>
        <%= form.select :tipo_abuso,  options, class:"form-select"  %>
      </div>

    </div>

    <div class="row">
      <div class="form-group col-sm">
        <%= form.label :abuso_presentado, style: "display: block" %>
        <%= form.text_area :abuso_presentado, class:"form-control" %>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-sm">
        <%= form.label :costo_total, style: "display: block" %>
        <%= form.text_field :costo_total, class:"form-control" %>
      </div>

      <div class="form-group col-sm">
        <%= form.label :reporta, style: "display: block" %>
        <%= form.text_field :reporta, class:"form-control" %>
      </div>
    </div>


    <div class="actions">
      <%= form.submit "Registrar", class: 'btn btn-success btn-lg btn-block' %>
    </div>
  <% end %>

</div>

