<div class="container">
  <br>
  <br>
  <%= form_with(model: folio_abuso) do |form| %>
    <% if folio_abuso.errors.any? %>
      <div id="error_explanation" class="alert alert-danger" role="alert">
        <h5><%= pluralize(folio_abuso.errors.count, "error") %> prohibited this folio_abuso from being saved:</h5>

        <ul>
          <% folio_abuso.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="row">
      <div class="form-group col-sm">
        <div class="form-floating">
          <%= form.text_field :cliente, class:"form-control", id:"floatingInput", placeholder:"name@example.com" %>
          <label for="floatingInput">Cliente</label>
        </div>
      </div>

      <div class="form-group col-sm">
        <div class="form-floating">
          <%= form.datetime_field :fecha, class:"form-control", id:"fechaid" %>
          <label for="fechaid">Fecha</label>
        </div>
      </div>
    </div>

    <div class="row">


      <div class="form-group col-sm">

         <div class="form-floating">
          <%= form.text_field :unidad, class:"form-control", id:"unidadid", placeholder:"Nissan" %>
          <label for="unidadid">Unidad</label>
        </div>
      </div>

      <div class="form-group col-sm">
        <%= form.label :tipo_contrato, style: "display: block" %>
        <% options = options_from_collection_for_select(@contratos, 'id', 'tipo_contrato') %>
        <%= form.select :tipo_contrato,  options, class:"form-control"  %>
      </div>

    </div>

    <div class="row">
      <div class="form-group col-sm">
        <div class="form-floating">
          <%= form.text_field :operador, class:"form-control", id:"operadorid", placeholder:"Charlie" %>
          <label for="operadorid">Operador</label>
        </div>
      </div>

      <div class="form-group col-sm">
        <%= form.label :tipo_abuso, style: "display: block" %>
        <% options = options_from_collection_for_select(@abusos, 'id', 'tipo_abuso') %>
        <%= form.select :tipo_abuso,  options, class:"form-select form-select-lg mb-3"  %>
      </div>

    </div>

    <div class="row">
      <div class="form-group col-sm">
        <div class="form-floating">
          <%= form.text_area :abuso_presentado, class:"form-control", id:"abuso_presentadoid", placeholder:"Charlie" %>
          <label for="abuso_presentadoid">Informe</label>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-sm">
        <div class="form-floating">
          <%= form.text_field :costo_total, class:"form-control", id:"costo_totalid", placeholder:"Charlie" %>
          <label for="costo_totalid">Costo total</label>
        </div>
      </div>

      <div class="form-group col-sm">
        <div class="form-floating">
          <%= form.text_field :reporta, class:"form-control", id:"reportaid", placeholder:"Charlie" %>
          <label for="reportaid">Reporta</label>
        </div>
      </div>
    </div>

    <br>
    <div class="actions">
      <%= form.submit "Registrar", class: 'btn btn-success btn-lg btn-block' %>
    </div>
  <% end %>

</div>

