<div class="container-xl">
  <br>
  <br>
  <h3>
  Nombre de la empresa
  <small class="text-muted">Folios</small>
</h3>
  <br>

  <div class="container-xl">
    <div class="row align-items-start">
      <div class="col">
        <%= link_to "Registar nuevo Folio", new_folio_abuso_path, class:"btn btn-info" %>
      </div>
      <div class="col">
        <%= form_for :folio_abuso, method: :get do |f| %>  
          <input type="text" name="filtro" id="filtro" value="" placeholder="Buscar" bind="query" class="form-control">
        <% end %>
      </div>
      <div class="col">
        <button class="btn btn-warning">Buscar</button>
      </div>
    </div>
  </div>
  <br>
  <div id="folio_abusos">
    <table class="table table-success table-striped table-hover table-borderless">
      <thead>
        <tr>
          <th scope="col">No. Folio</th>
          <th scope="col">Cliente</th>
          <th scope="col">Fecha</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody class="table-group-divider">
        <% @folio_abusos.each do |folio_abuso| %>
          <tr>
            <th scope="row"><%= folio_abuso.folio %> </th>
            <td><%= folio_abuso.cliente %></td>
            <td><%= folio_abuso.fecha %></td>
            <td>
              <%= link_to 'Ver', folio_abuso, class:"btn btn-light min-width-btn" %>
              <%= link_to 'Editar', edit_folio_abuso_path(folio_abuso), class:"btn btn-primary min-width-btn"  %>     
              <%= link_to 'Eliminar', folio_abuso , method: :delete, data: { confirm: 'Estas seguro?' }, class:"btn btn-danger min-width-btn"%>

              <!-- Example single danger button -->
              <div class="btn-group">
                <button type="button" class="btn btn-danger dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                  Accion
                </button>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="<%= folio_abusos_path(folio_abuso) %>">Ver</a></li>
                  <li><a class="dropdown-item" href="<%= edit_folio_abuso_path(folio_abuso) %>">Editar</a></li>
                  <li><a class="dropdown-item" href="<%= folio_abuso %>", method="delete", data=" { confirm: 'Estas seguro?' }">Eliminar</a></li>
                </ul>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= will_paginate @folio_abusos %>
  </div>
</div>
